# Ignorar carpeta de datos de MariaDB
basedatos/

# Archivos temporales del sistema
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

# Archivos de entorno
.env

# Archivos generados por Docker
docker-compose.override.yml
*/__pycache__/
*/*.pyc

# Archivos y carpetas comunes que no deben ir al repo
node_modules/
dist/
build/
.idea/
.vscode/
